.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #cb8c8c;
  }
  
  .newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .newsletter-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    margin-right: 10px;
  }
  
  .newsletter-submit {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 1rem;
  }